<h1>Add a bicycle</h1>
<%= form_for :posting, url: postings_path do |f| %>
   <% if @posting.errors.any? %>
       <div id="error_explanation">
            <h2><%=pluralize(@posting.errors.count, "error") %> prohibited this article from being saved:</h2>
            <ul>
                <% @posting.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :postcode %><br>
        <%= f.text_field :postcode %>
    </p>

    <p>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </p>

    <p>
        <%= f.submit %>
    </p>
<% end %>
<%= link_to 'Cancel', postings_path %>