<p>
    <strong> Title:</strong>
    <%= @posting.title %>
</p>

<p>
    <strong> Postcode:</strong>
    <%= @posting.postcode %>
</p>

<p>
	<strong> Description:</strong>
	<%= @posting.description %>
</p>
 
<p>
	<strong> Price:</strong>
	<%= @posting.price %>
</p>

<%= link_to 'Back to overview', postings_path %>